h1 {
    font-size: 4rem;
    text-align: center;
  }
  
  p{
    text-align: center;
    
  }
  
  body{
    background: lightgray;
    
  }
  
  #img-div {
    background : white;
    margin: 0;
    padding: 10px;
    
  }
  
  img {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  figcaption {
    text-align: center;
    font-family: arial;
  }
  h3{
    text-align: center;
  }
  ul{
    max-width: 550px;
    text-align: left;
    margin: 0 auto 50px auto;
    font-size: 1.2rem;
    
  }
  
  li{
    margin: 16px 0;
  }
  
  #pp {
    font-size: 1.2rem;
  }